  <article class="post">
    <div class="post__header">
      <h3>{{ label }}</h3>
      <div class="post__meta">
        <span class="post__date">{{ content.field_display_date }}</span>
      </div>
    </div>
    {{ content.body }}
  </article>