<div class="post transition">
  <div class="transition__wrapper">
    <div class="transition__item transition__start">
      <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=100%C3%97100&w=100&h=100" />
    </div>
    <div class="transition__item transition__divider">
      ->
    </div>
    <div class="transition__item transition__end">
      <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=100%C3%97100&w=100&h=100" />
    </div>
  </div>
</div>